#home:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#content{
  width:50vw;
  /* height: 60; */
  /* position: absolute; */
  margin: auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}
#content button{
  display: block;
}
#content h1,p{
  text-align: center;
}