@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

#home:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#home{
  min-height: calc(100vh - 80px);
}
#content{
  width:50vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% - 25vw);
  /* top: -80px; */
  transform: translateY(-40px);
  justify-content: center;
  align-items: center;
  color: white;
}
#content button{
  display: block;
}
#content h1,p{
  text-align: center;
  /* padding: 10px; */
}
#content h1{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  font-size: 45px;
}
#repo{
  background-color: #34495e;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  margin-top:10px;
}