#aboutpage{
    font-family: "Times New Roman", Times, serif;
    background-image: linear-gradient(90deg, white, grey);
    min-height: calc(100vh - 80px);
    padding-bottom: 50px;
  }
  
  .size {
    height: 100%;
    width: 100%;
    background-color: tur;
    background-image: linear-gradient(90deg, turquoise, grey);
    text-align: center;
  }
  .text{
    text-align: justify;
    font-size: 25px;
    padding: 0 15px;
  }
  .nametag{
    text-align: center;
    font-size: 25px;
  }
  .sizing{
    /* height: 170px; */
    height:20vmin;
    width: 20vmin;
    display: block;
    margin: auto;
    /* padding-left: 60px; */
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  
  .card {
    background-color: transparent;
    /* margin-left: 120px; */
    margin-top: 50px;
    height: 400px;
    width: 26vw;
    border: 1px solid #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    perspective: 1000px;
    animation: henlo;
    animation-iteration-count: initial;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  
  @keyframes henlo {
    0% {
      margin-left: 120px;
      opacity:0;
    }
    100% {
      margin-left: 0px;
      opacity:1;
    }
  }
  .card-info {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    transition: 1s;
    transform-style: preserve-3d;
  }
  .card:hover .card-info {
    transform: rotateY(180deg);
  }
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card-front {
    background-color: #bbb;
    color: black;
  }
  .card-text{
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-top: 10px;
    padding:0 10px;
  }
  .card-back {
    text-align: none;
    background-color: grey;
    color: white;
    transform: rotateY(180deg);
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 25vw;
  }
  .rows {
    display: flex;
    justify-content: space-around;
  }
  .mail{
    margin-top: 10px;
    padding: 0 10px;
    font-size: 20px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;
    word-wrap: break-word;
    
  }
  .mail a{
    color: #000;
  }
  .icon{
    height: 20px;
    margin-right: 5px;
  }
  .back-{
    text-align: center;
    margin-top: 35px;
    align-items: center;
  }
  .back-text{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    margin-bottom: 20px;
  }
  .back-icon{
    padding-top: 20px;
    height: 60px;
  }
  @media only screen and (max-width: 600px) {
      .rows{
          /* display:contents;
           */
           flex-direction: column;
      }
      .card{
          width: 80%;
          border: black;
          align-items: center;
          margin: 15px auto;
      }
      
      .mail{
        font-size: 18px;
      }
      .card-back{
        width: 100%;
      }
      .card:hover{
        width: 80%;
      }
      
      .size{
        height: fit-content;
        /* font-size: 15px; */
        width: 100%;
      }
      @keyframes henlo {
          0% {
              margin-left: 10%;
              margin-top: 25px;
            }
            100% {
              margin-left: 10%;
              margin-top: 50px;
            }
      }
  }
  